// 1440px
@media (min-width: 90rem) {
  :root {
    --logo-margin: 6.5rem 0 0 19.92%;
    --sup-heading-font-size: 6.2rem;
    --sup-heading-letter-spacing: 0.29em;
    --hero-heading-font-size: 6.2rem;
    --hero-heading-letter-spacing: 0.29em;
    --hero-content-margin: 9.2rem 26.8% 9.2rem 19.92%;
  }
}
